*{
	padding: 0;
	margin: 0;
}
 

body{
	padding: 0.5rem;
	width: 100%;
	height: 100%;
}



h1, h2, h3, h4, h5, h6, p, ul, ol, li{
	font-weight: normal;
	font-size: 1rem;
}

h1{
	text-decoration: underline;
	color: darkgray;
}

hr{
	height: 2px;
	background-color: darkgray;
	border: none;
	margin-top: 4rem;
	margin-bottom: 0.5rem;
}
.root_6_settimeout{
	width: 100%;		
	height: 100%;
}

.square{
	width: 100px;
	height: 100px;
	display: inline-block;
	border: 2px solid;
}